# My Jupyter Notebook Title

this is my first peer to peer project

list of data science languages are :-
Python, R, SQL, MATLAB, Java, Scala, Julia, and Perl

list of data science libraries :-
Pandas,Numpy,scipy,TensorFlow and ggplot

table of data science tools :-
# Data Science Tools

| Category              | Tools                          |
|-----------------------|--------------------------------|
| Programming Languages | Python, R, Julia                |
| Data Manipulation     | Pandas, dplyr, NumPy            |
| Machine Learning      | Scikit-learn, TensorFlow, PyTorch|
| Data Visualization    | Matplotlib, Seaborn, Plotly     |
| Big Data              | Apache Spark, Hadoop            |
| Cloud Platforms       | AWS, Google Cloud Platform, Azure|
| IDEs                  | Jupyter Notebook, RStudio, VS Code|
| Version Control       | Git, GitHub, GitLab             |


# Arithmetic Expression Examples

Arithmetic expressions in mathematics involve basic operations such as addition, subtraction, multiplication, and division. Here are some examples:

- **Addition**: `2 + 3 = 5`
- **Subtraction**: `10 - 5 = 5`
- **Multiplication**: `4 * 6 = 24`
- **Division**: `15 / 3 = 5`

These operations can be combined using parentheses to control the order of operations, similar to standard algebraic rules.

Example with parentheses:

In [ ]:
# Multiply and add numbers
a = 5
b = 3

# Multiplication
result_multiply = a * b
print(f"Multiplication result: {result_multiply}")

# Addition
result_add = a + b
print(f"Addition result: {result_add}")

In [ ]:
# Convert minutes to hours
minutes = 150

# Conversion
hours = minutes / 60

# Display the result
print(f"{minutes} minutes is equal to {hours} hours")

# Author

Author: Akshat Thakur